<div class="task-form-container">
  <h1 mat-dialog-title>Nueva Tarea</h1>

  <div mat-dialog-content [formGroup]="taskForm">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Título</mat-label>
      <input matInput formControlName="title" cdkFocusInitial />
      <mat-error *ngIf="taskForm.get('title')?.hasError('required')">
        El título es requerido.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Descripción (Opcional)</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
  </div>

  <div mat-dialog-actions align="end">
    <button mat-stroked-button color="warn" (click)="onCancel()">Cancelar</button>
    <button mat-flat-button color="primary" (click)="onSave()" [disabled]="taskForm.invalid">
      Guardar
    </button>
  </div>
</div>
