<mat-card class="task-form-container" [formGroup]="taskForm">

    <h1 mat-dialog-title>Nueva Tarea</h1>

    <mat-dialog-content>

        <mat-form-field appearance="outline" class="full-width">
        <mat-label>Título</mat-label>
        <input matInput formControlName="title" cdkFocusInitial />
        <mat-error *ngIf="taskForm.get('title')?.hasError('required')">
            El título es requerido.
        </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
        <mat-label>Descripción (Opcional)</mat-label>
        <textarea matInput formControlName="description" rows="4"></textarea>
        </mat-form-field>

    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-stroked-button color="warn" (click)="onCancel()">Cancelar</button>
        <button mat-flat-button color="primary" (click)="onSave()" [disabled]="taskForm.invalid">Guardar</button>
    </mat-dialog-actions>

</mat-card>
