
<mat-card [ngClass]="{ 'completed-task-card': task?.completed }">
    <mat-card-content>
        <div class="task-info">
            <h3 class="task-title">{{ task?.todo }}</h3>
            <p class="task-description">{{ task?.description }}</p>
        </div>
    </mat-card-content>

    <mat-card-actions align="end">
        <button mat-stroked-button (click)="onUpdateStatus()">
            <mat-icon>{{ task?.completed ? 'undo' : 'check_circle_outline' }}</mat-icon>
            <span>{{ task?.completed ? 'Reabrir' : 'Completar' }}</span>
        </button>

        <button mat-icon-button color="primary" aria-label="Editar tarea">
            <mat-icon>edit</mat-icon>
        </button>

        <button mat-icon-button color="warn" aria-label="Eliminar tarea" (click)="onDelete()">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-card-actions>

</mat-card>