/* Estilos globales básicos */
html, body { 
  height: 100%; 
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f4f6f8; // Un fondo gris claro
}

/* Estilos de utilidad para los Snackbars */
.success-snackbar {
  background-color: #4CAF50; // Verde
  color: white;
}

.error-snackbar {
  background-color: #f44336; // Rojo
  color: white;
}