/* Dejamos solo los estilos globales básicos que no dependen de Material */

html, body { 
  height: 100%; 
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-color: #f5f5f5;
}

// Dejaremos los estilos del snackbar aquí con colores fijos
.success-snackbar {
  background-color: #4CAF50; // Verde
  color: white;
}

.error-snackbar {
  background-color: #f44336; // Rojo
  color: white;
}