// src/app/tasks/components/task-list/task-list.component.scss
.task-list-container {
  padding: 20px 40px; // Un poco más de espacio
}

h1 {
  color: #3f51b5; // El color primario de Indigo/Pink
}

.multiline-item {
  height: auto !important;
  padding: 0 !important;
  margin-bottom: 16px; // Añadimos separación entre tarjetas
}

.loading-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}